/*=============================================================================
 * Mobile Element
 *===========================================================================*/
.mobile-menu {
    display: none;
    margin: 0;
    padding: 10px 15px;
    clear: both;
    cursor: pointer;
    color: #ffffff;
    font-family: 'HannariMincho';
    font-size: 14px;
    background: #222; /* Show a solid color for older browsers */
    background: -moz-linear-gradient(#313131, #000000);
    background: -o-linear-gradient(#313131, #000000);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#313131), to(#000000)); /* older webkit syntax */
    background: -webkit-linear-gradient(#313131, #000000);
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
    text-align: center;
}
.mobile-menu:hover,
.mobile-menu:active,
.mobile-menu:focus {
    color: #EA2C2C;
}

/*=============================================================================
 * Windows Phone 8 and Device-Width
 *===========================================================================*/
@-ms-viewport{
    width: device-width;
}

/*=============================================================================
 * Retina Display Support
 *===========================================================================*/
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    
}

/*=============================================================================
 * Responsive: Large desktop and up 1200px
 *===========================================================================*/
@media (min-width: 1224px) {
    
}

/*=============================================================================
 * Responsive: Desktop small
 *===========================================================================*/
@media (max-width : 1220px) {
    
}

/*=============================================================================
 * Responsive: Tablet and phone
 *===========================================================================*/
@media (max-width: 979px) {
    #content .page .entry-content {
        width: 100%;
        margin: 0;
    }
    .post-column-onethird,
    .banner-onethird {
        width: 100%;
        margin: 15px 0;
    }
    .section-profile-photo,
    .section-profile-content {
        width: 100%;
    }
    .section-profile-photo {
        padding: 0 0 60px 0;
    }
    body.blog #page #main #primary #content .blog-container-left,
    body.blog #page #main #primary #content .blog-container-right {
        width: 100%;
    }
    body.blog #page #main #primary #content .blog-container-right {
        margin: 0 0 60px 0;
    }
    body.blog #page #main #primary #content .blog-container-right .widget-area {
        margin: 0;
    }
}

/*=============================================================================
 * Responsive: Tablet to desktop
 *===========================================================================*/
@media (min-width: 767px) and (max-width: 979px) {
    
}

@media (min-width: 767px) {
    
}

/*=============================================================================
 * Responsive: Landscape phone to desktop/tablet
 *===========================================================================*/
@media (max-width: 767px) {
    #branding img.logo-top {
        margin: 30 auto;
        left: calc(50% - 200px);
        left: -webkit-calc(50% - 200px);
    }
    #access {
        display: none;
        position: absolute;
        font-size: 14px;
        background: #000000;
    }
    #access li {
        float: none;
        text-align: center;
    }
    .mobile-menu {
        display: block;
    }
    .section-spot {
        padding: 60px 150px 15px;
    }
    .section-banner {
        padding: 0 30px;
    }
    #content .page .entry-content {
        padding-top: 15px;
    }
    #content .page .entry-content > p {
        margin: 25px 15px;
    }
    h2.post-title,
    h2.post-page-title,
    h2.blog-page-title {
        font-size: 24px;
    }
    h2.post-page-title,
    h2.blog-page-title {
        margin: 0 15px 60px;
    }
    h3.p-subtitle {
        margin: 15px 15px 0 15px;
        font-size: 14px;
    }
    h3.post-text-centered {        
        font-size: 20px;
    }
    a.site-link {
        font-size: 18px;
        padding: 12px 24px;
    }
    .post-image-row,
    .post-column-row.spot-bottom {
        display: none;
    }
    .post-column-content {
        padding: 30px 0;
    }
    .post-column-half {
        width: calc(100% - 30px);
        width: -webkit-calc(100% - 30px);
        box-sizing: border-box;
        margin: 15px !important;
    }
    .post-half {
        width: 100%;
        padding: 0 30px;
    }
    .post-profile-photo {
        width: 100%;
        margin: 0 0 30px;
        padding: 0 15px;
    }
    .post-profile-content {
        width: 100%;
        margin: 0;
        padding: 0 15px;
    }
    .wpcf7-form {
        padding: 0 15px;
    }
    .wpcf7 input[type=submit] {
        font-size: 18px;
    }
    body.blog #page #main #primary #content .blog-container-left .blog-post-item {
        width: 100%;
        margin: 0 0 60px 0 !important;
    }
    #supplementary {
        padding-top: 0;
    }
    #supplementary #first {
        margin-top: 45px;
        padding-top: 35px;
        border-top: 2px solid #ffffff;
    }
    #supplementary #third {
        margin-bottom: 20px;
        border-bottom: 2px solid #ffffff;
    }
    .footer-column-left,
    .footer-column-right {
        width: 100%;
        padding: 0;
        border: none;
    }
    .footer-column-left {
        padding: 0 35px 15px 35px;
        text-align: left;
    }
    .footer-column-right {
        margin-bottom: 15px;
    }
}

@media (max-width: 600px) {
    .post-column-row {
        padding: 30px;
    }
    .post-column-onethird {
        padding: 0;
    }
    .section-spot {
        padding: 60px 75px 15px;
    }
}

/*=============================================================================
 * Responsive: Phone
 *===========================================================================*/
@media screen and (max-width: 480px) {
    #main #content {
        margin: 0;
    }
    .post-page-title.mobile-spaced {
        margin: 150px 15px 300px;
    }
    .post-column-row {
        padding: 15px;
    }
    .section-spot {
        padding: 60px 15px 15px;
    }
    .wpcf7 input[type=text],
    .wpcf7 input[type=email],
    .wpcf7 input[type=number],
    .wpcf7 textarea {
        width: 100%;
    }
    body.blog #page #main #primary #content {
        width: 100%;
        margin: 0;
        padding: 0 15px;
        box-sizing: border-box;
    }
}


@media screen and (max-width: 360px) {
    
}