/*
 * Theme Name: TC Custom
 * Description: Custom style for overriding the default style
 */
#content .page {
    padding-top: 0;
    margin-bottom: 90px;
}
#content .page img {
    opacity: 0;
}
#content .page .entry-header {
    display: none;
}
#content .page .entry-content {
    padding-top: 45px;
}
#content .page .entry-content > p {
    margin: 25px 50px;
    font-family: "HannariMincho";
    font-size: 14px;
    font-weight: normal;
}
#content .page .entry-content > p img {
    max-width: 100%;
}

h2.post-title,
h2.post-page-title,
h2.blog-page-title {
    padding: 0 45px;
    font-family: "HannariMincho";
    font-size: 36px;
    font-weight: normal;
    text-align: center;
}
h2.post-page-title {
    margin-bottom: 60px;
    border-bottom: 1px solid #000000;
}
h2.blog-page-title {
    margin: 30px 75px 45px;
    padding-bottom: 30px;
    border-bottom: 1px solid #000000;
}
h3.p-title,
h3.p-subtitle {
    font-family: "HannariMincho";
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    margin: 60px 15px 20px 15px;
}
h3.p-subtitle {
    margin: -30px 0 20px;
    border-bottom: 1px solid #000000;
}
h3.p-title.align-left {
    text-align: left;
}
h3.post-text-centered {
    margin: -30px 0 90px;
    font-family: "HannariMincho";
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    text-transform: initial;
}
p.post-text-centered {
    font-size: 16px !important;
    text-align: center !important;
}
.chevron {
    margin-right: 10px;
}
.chevron::before {
    display: inline-block;
    vertical-align: top;
    position: relative;
    content: '';
    top: 9px;
    left: 2px;
    width: 10px;
    height: 10px;
    border-style: solid;
    border-width: 1px 1px 0 0;
    transform: rotate(-45deg);
}
.chevron.right:before {
    top: 6px;
    left: 0;
    transform: rotate(45deg);
}
.chevron.bottom:before {
    top: 2px;
    transform: rotate(135deg);
}
.chevron.left:before {
    top: 6px;
    left: 0.25em;
    transform: rotate(-135deg);
}

.post-image img {
    max-width: 100%;
}

.post-half {
    display: block;
    width: 50%;
    margin: auto;
    box-sizing: border-box;
}
.post-half img {
    max-width: 100%;
    margin-bottom: 30px;
}

.post-column-half-row {
    padding: 30px 0;
}
.post-column-half {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 4px);
    width: -webkit-calc(50% - 48px);
    box-sizing: border-box;
    padding: 15px 0 30px;
    border-bottom: 1px solid #000000;
}
.post-column-half:nth-of-type(2n) {
    margin: 0 0 0 45px;
}
.post-column-half:nth-of-type(2n -1) {
    margin: 0 45px 0 0;
}
.post-column-half.no-border {
    border: none;
}
.post-column-half h3,
.post-column-half p {
    margin: 0 0 15px !important;
}
.post-column-half img {
    max-width: 100%;
    margin: 0 0 15px !important;
}

.post-column-row {
    padding: 30px 60px;
}
.post-column-row.spot-bottom {
    padding: 2px 30px 15px 30px;
    background-color: #000000;
}
.post-column-onethird {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    box-sizing: border-box;
    padding: 30px 45px;
}
.post-column-title {
    padding: 10px;
    font-family: "HannariMincho";
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #000000;
}
.post-column-content {
    padding: 30px 10px;
    font-family: "HannariMincho";
    font-size: 14px;
    line-height: 1.8em;
}

.post-image-onethird {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: calc(33.33% - 22px);
    width: -webkit-calc(33.33% - 22px);
    margin: 14px;
}
.post-image-onethird:first-of-type {
    margin-left: 0;
}
.post-image-onethird:last-of-type {
    margin-right: 0;
}
.post-image-onethird a,
.post-image-onethird a img {
    width: 100%;
    max-width: 100%;
}

.post-profile {
    margin-bottom: 120px;
}
.post-profile-photo,
.post-profile-content {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}
.post-profile-photo {
    width: calc(60% - 30px);
    width: -webkit-calc(60% - 20px);
    margin-right: 15px;
}
.post-profile-photo img {
    max-width: 100%;
}
.post-profile-content {
    width: calc(40% - 30px);
    width: -webkit-calc(40% - 20px);
    margin-left: 15px;
}
.post-profile-content h3 {
    margin: 0 !important;
}

.p-center {
    text-align: center;
    margin: 60px 0 120px !important;
}

a.site-link {
    display: inline-block;
    margin: 15px auto;
    padding: 12px 80px;
    color: #000000;
    font-family: "HannariMincho";
    font-size: 24px;
    text-align: center;
    background-color: #d8d8d8;
    outline: none;
    border: none;
}
a.site-link:hover,
a.site-link:focus,
a.site-link:active {
    color: #EA2C2C;
    text-decoration: none;
}

.post-map {
    width: 100%;
    height: 232px;
    margin-top: 30px;
}

.section-spot {
    margin-top: 15px;
    padding: 60px 225px;
    background-color: #000000;
    color: #ffffff;
}
.section-profile-photo,
.section-profile-content {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}
.section-profile-photo {
    width: calc(55% - 4px);
    width: -webkit-calc(55% - 4px);
    padding: 6px 30px 6px 0;
}
.section-profile-photo img {
    opacity: 1 !important;
    max-width: 100%;
}
.section-profile-content {
    width: calc(45% - 4px);
    width: -webkit-calc(45% - 4px);
}
.section-profile-content-title {
    padding: 0 6px 6px;
    margin-bottom: 24px;
    font-family: 'HannariMincho';
    font-size: 24px;
    border-bottom: 2px solid #ffffff;
}
.profile-info-half-container {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: calc(50% - 4px);
    width: -webkit-calc(50% - 4px);
}
.profile-info {
    font-family: 'HannariMincho';
    font-size: 16px;
    margin-bottom: 20px;
}
.profile-info-title {
    display: inline;
    border-bottom: 1px solid #ffffff;
}
.profile-info-detail {
    overflow: hidden;
    text-overflow: ellipsis;
}
.profile-map {
    width: 100%;
    height: 160px;
    margin-top: 9px;
}

.section-banner {
    margin-top: 20px;
}
.banner-onethird {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: calc(33.33% - 15px);
    width: -webkit-calc(33.33% - 15px);
    margin: 8px;
}
.banner-onethird:first-of-type {
    margin-left: 0;
}
.banner-onethird:last-of-type {
    margin-right: 0;
}
.banner-onethird a,
.banner-onethird a img {
    width: 100%;
    max-width: 100%;
}

/* Home Page */
body.home #content {
    margin: auto;
}
body.home #content .page {
    margin-bottom: 0;
}
body.home #content .page .entry-content {
    width: 100%;
}

/* Blog Page */
body.blog #page #main #primary {
    overflow: hidden;
}
body.blog #page #main #primary #content {
    width: calc(100% - 150px);
    width: -webkit-calc(100% - 150px);
    margin: 0 75px;
}
body.blog #page #main #primary #content .blog-container-left {
    display: inline-block;
    vertical-align: top;
    width: 65%;
}
body.blog #page #main #primary #content .blog-container-left .blog-post-item {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 33px);
    width: -webkit-calc(50% - 33px);
    height: auto;
    margin-bottom: 60px !important;
    padding: 0;
}
body.blog #page #main #primary #content .blog-container-left .blog-post-item:nth-of-type(2n - 1) {
    margin: 0 30px 0 0;
}
body.blog #page #main #primary #content .blog-container-left .blog-post-item:nth-of-type(2n) {
    margin: 0 0 0 30px;
}
body.blog #page #main #primary #content .blog-container-left .blog-post-item .post {
    margin: 0;
    padding: 0;
}
body.blog #page #main #primary #content .blog-container-left .blog-post-item .post-thumbnail img {
    max-width: 100%;
}
body.blog #page #main #primary #content .blog-container-right {
    display: inline-block;
    vertical-align: top;
    width: 34%;
}
body.blog #page #main #primary #content .blog-container-right .widget-area {
    margin: 0 0 0 55px;
    padding: 20px 45px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #f3f3f3;
}
body.blog #page #main #primary #content .blog-container-right .widget {
    margin-bottom: 15px;
    font-family: 'HannariMincho';
    font-size: 16px;
}
body.blog #page #main #primary #content .blog-container-right .widget .widget-title {
    color: #000000;
    font-size: 24px;
}
body.blog #page #main #primary #content .blog-container-right .widget .p-title {
    margin: 15px 0;
}
body.blog #page #main #primary #content .blog-container-right .widget ul {
    list-style: none;
}
body.blog #page #main #primary #content .blog-container-right .widget ul li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
body.blog #page #main #primary #content .blog-container-right .widget ul li a {
    color: #000000;
    font-family: "HannariMincho";
    font-size: 16px;
    font-weight: normal;
}
body.blog #page #main #primary #content .blog-container-right .widget ul li a:hover,
body.blog #page #main #primary #content .blog-container-right .widget ul li a:focus,
body.blog #page #main #primary #content .blog-container-right .widget ul li a:active {
    color: #EA2C2C;
    text-decoration: none;
}
body.blog #page #main #primary #content .blog-container-right .widget_archive label.screen-reader-text {
    display: none;
}
.blog-post-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 60px 30px;
    background-color: rgba(14, 6, 1, 0.58);
    color: #ffffff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.blog-post-title a {
    color: #ffffff;
    font-family: "HiraMinProN-W3";
    font-size: 24px;
}
.blog-post-title:hover,
.blog-post-title a:hover,
.blog-post-title a:active,
.blog-post-title a:focus {
    color: #EA2C2C;
    text-decoration: none;
}

/* Contact Page */
.wpcf7 input[type=submit] {
    display: block;
    margin: 60px auto 15px;
    padding: 12px 80px;
    color: #000000;
    font-family: "HannariMincho";
    font-size: 24px;
    background-color: #d8d8d8;
    border: none;
    outline: none;
}